
.page-container{
    display: flex;
    flex-flow: row wrap;
    gap: 28px;
    padding-left: 30px;
}

.card-container{
    width: 400px;
    height: 300px;
    border: 2px solid rgb(105, 8, 185);
    border-radius: 15px;
    padding: 30px;
    font-family: 'Roboto';
    font-size : 20px;
    transition: all 1s ease;
}
.card-container:hover{
    transform: translateY(-10px);
}

.full-recipe{
    text-decoration: none;
    color : snow;
    width: 200px;
    height: 50px;
    border: 1px solid ;
    background-color: rgb(105, 8, 185);
    align-self: baseline;
    margin-left: 80px;
    margin-top: 40px;
    border-radius: 20px;
    display: inline-block;
    align-content: center;
    text-align: center;
    outline: none;
    transition: all 0.5s ease;
}
.full-recipe:hover{
    background-color: snow !important;
    color : black;
}
.title{
    font-size: 30px;
}