.container li{
    
    list-style-type: decimal;
}
.ingredients-container{
    margin: 0;
}
.container{
    margin : 40px auto;
    box-shadow: 2px 2px 20px rgba(1, 1, 1, 0.5);
    width: 40%;
    font-size: 20px;
    color : black;
    background: snow;
    height: 60%;
    transition: all 0.3s ease-in;

}
.container.dark{
    background: #555;
    color: #e4e4e4;
}
.recipe-page-container{
    color : black;
    background: snow;
    min-height: 100vh;
    transition: all 0.3s ease-in;

}
.recipe-page-container.dark{
    background: #333;
    color: #e4e4e4;
}