.theme{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(1, 1, 1 , 0.7);
    transition: all 0.5s ease;
    margin-top: 20px;
}
.theme:hover{
    scale: 1.2;
}
.themeContainer{
    width: 200px;
    height: 50px;
    margin-left: 85%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 10px;
}