.themeContainer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 10px;
}
.theme{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(1, 1, 1 , 0.7);
    margin-top: 20px;
    transition: all 0.2s ease-in;

}
.mode-changer{
    margin-top: 10px;
    transition: all 1s ease-in;
    border-radius: 50%;
    margin-right: 85%;
}
.theme:hover , .mode-changer:hover{
    scale: 1.2;
    cursor: pointer;

}

